@font-face
{
  font-family: "TerminalFont";
  src: url("res/Inconsolata.otf");
}

@font-face
{
  font-family: "TitleFont";
  src: url("res/Squared Display.ttf");
}

html, body
{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

/*
  Main menu
*/
.mainMenuTitle
{
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ddd;
  font-size: 100pt;
  font-family: "TitleFont";
}

.mainMenuOptions
{
  position: absolute;
  bottom: 5px;
  left: 15px;
}

.mainMenuOption
{
  color: #ddd;
  font-size: 24pt;
  margin-bottom: 10px;
}

.mainMenuOption:hover
{
  color: #888;
}

/*
  Basic UI components
*/

/* Button */
.button
{
  padding: 8px 5px;
  background: rgb(40, 40, 40);
  color: #ddd;
  display: inline-block;
  margin: 5px;
  min-width: 100px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.button:hover
{
  background: rgb(90, 90, 90);
}

/* Window */
.window
{
  z-index: 15;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 2;
  position: absolute;
  color: #ddd;
  font-family: "TerminalFont";
  font-size: 11pt;
  padding-top: 5px;
}

.windowTitle
{
  margin-left: 5px;
}

.windowBody
{
  background: rgba(20, 20, 20, 0.8);
  margin-top: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

/* List */
.listItem
{
  padding: 5px;
  color: #ddd
}

.listItem:hover
{
  background: rgb(90, 90, 90);
}

.listItem.selected
{
  background: rgb(0, 0, 0);
}

/* Context menu */
.contextMenu
{
  z-index: 15;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 2;
  position: absolute;
}

.contextOption
{
  padding: 5px;
  font-family: "TerminalFont";
  font-size: 11pt;
  color: #ddd;
}

.contextOption:hover
{
  background: rgb(90, 90, 90);
}

/* Various general text styles */
.sectionTitle
{
  color: #888;
}

.lightText
{
  color: #888
}

.affordable
{
  color: #5f5;
}

.unaffordable
{
  color: #f55;
}

/*
  Different program styles
*/

/* Hotbar */
.hotbar
{
  position: absolute;
  left: 5px;
  top: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* Console */
.console
{
  z-index: 10;
  position: absolute;
  bottom: 90px;
  color: #ddd;
  font-family: "TerminalFont";
  font-size: 11pt;
  padding-top: 5px;
  background: rgba(40, 40, 40, 0.8);
}

.consoleLog
{
  margin-top: 5px;
  padding-left: 5px;
  width: 450px;
  height: 200px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.consoleError
{
  color: #f55;
}

.consoleInfo
{
  color: #888;
}

.consoleOk
{
  color: #5f5;
}

/* Cargo */
.cargoList
{
  display: inline-block;
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

/* Comms */
.commSection
{
  width: 100%;
  height: 50%;
  overflow-y: auto;
}

.commConvo
{
  padding: 5px;
}

.commPlayer
{
  color: #55f;
}

.commRemote
{
  color: #5f5;
}

/* Ship readout */
.shipReadout
{
  z-index: 10;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.readoutSubtitle
{
  color: #ddd;
  font-family: sans-serif;
  font-size: 12px;
  margin-left: 5px;
}

.readoutContent
{
}

.readoutTop
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.readoutTopLabel
{
  display: inline-block;
  color: #ddd;
  margin-left: 10px;
  margin-bottom: 5px;
}

/* Module display */
.moduleName
{
  display: inline-block;
  background: rgba(50, 50, 50, 0.8);
  width: 10%;
  border-right: 1px solid black;
  box-sizing: border-box;
  padding: 20px 0px;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 0px rgba(255, 255, 255, 0.1);
}

.moduleName.active
{
  color: #5f5;
  background: rgba(30, 50, 30, 0.8);
}

.moduleName.pending
{
  color: #ff5;
  background: rgba(50, 50, 30, 0.8);
}

.moduleName.destroyed
{
  color: #111;
  background: rgba(100, 50, 50, 0.8);
}

/* Map */
.mapSystemInfoPane
{
  padding: 5px;
}

.mapSystemInfoName
{
  font-size: 22px;
}

.mapControlPanel
{
}

/* Planet info */
.planetInfo
{
  margin-bottom: 5px;
  font-family: sans-serif;
  color: #ddd;
  margin-left: 5px;
}

/* Shop */
.shopItemList
{
  height: 400px;
  overflow-y: auto;
}

.shopItem
{
  margin: 10px;
  padding: 5px;
}

.shopItem:hover
{
  margin: 10px;
  background: rgb(70, 70, 70);
}

.shopItem.selected
{
  background: rgb(0, 0, 0);
}

/* BBS */
.bulletinList
{
  display: inline-block;
  width: 50%;
  height: 90%;
  overflow-y: auto;
}

.bulletinInfo
{
  display: inline-block;
  width: 50%;
  height: 90%;
  overflow-y: auto;
}

.bulletinItem
{
  margin: 10px;
  padding: 5px;
}

.bulletinItem:hover
{
  background: rgb(70, 70, 70);
}

.bulletinItem.selected
{
  background: rgb(0, 0, 0);
}

/* Log */
.logList
{
  display: inline-block;
  width: 50%;
  height: 90%;
  overflow-y: auto;
}

.logInfo
{
  display: inline-block;
  width: 50%;
  height: 90%;
  overflow-y: auto;
}

.logItem
{
  margin: 10px;
  padding: 5px;
}

.logItem:hover
{
  background: rgb(70, 70, 70);
}

.logItem.selected
{
  background: rgb(0, 0, 0);
}

/*
  Ship editor
*/
#shipEditorPartPalette
{
  z-index: 10;
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0px;
  right: 0px;
  background: rgba(50, 50, 50, 0.9);
  overflow-y: auto;
}

#shipEditorPartPalette canvas
{
  display: block;
  margin: 10px;
}

#shipEditorPartPalette .button
{
  color: #ddd;
  background: rgb(20, 20, 20);
  padding: 10px;
  font-family: sans-serif;
  margin-bottom: 1px;
}

#shipEditorPartPalette .button:hover
{
  background: rgb(70, 70, 70);
}

#shipEditorPartPalette .list
{
}

#shipEditorPartPalette .list .item
{
  background: rgb(20, 20, 20);
  color: #ddd;
  padding: 5px;
  font-family: sans-serif;
}

#shipEditorPartPalette .list .item:hover
{
  background: rgb(70, 70, 70);
  font-family: sans-serif;
}